@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    background: #000000;
    font-family:  'Dancing Script', cursive;";
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 25px;
}

.hername {
    font-size: 32px;
    font-weight: 700;
    color: #d6336c;
    animation: fade 2s ease-in-out;
}

.quote-main {
    font-size: 18px;
    font-style: italic;
    margin: 10px 10%;
    color: #b30059;
}

.photo {
    width: 85%;
    max-width: 350px;
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 0 15px rgba(255,0,89,0.4);
    animation: pop 1.5s ease;
}

.mid-quotes,
.poetry,
.final-shock {
    font-size: 18px;
    margin: 25px 12%;
    color: #9e0059;
    line-height: 1.6;
    animation: fade 2s ease-in-out;
}

.final-shock {
    font-size: 22px;
    font-weight: 700;
    color: #ff0066;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pop {
    0% { transform: scale(0.7); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

/* Hearts Animation */
.hearts {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
}
.hearts::before,
.hearts::after {
    content: "";
    position: absolute;
    font-size: 38px;
    animation: float 8s linear infinite;
    opacity: 0.5;
}
.hearts::after {
    animation-delay: 3s;
}

@keyframes float {
    from { transform: translateY(100vh); }
    to { transform: translateY(-110vh); }
}
.music-btn {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff2e97;
    color: white;
    padding: 12px 22px;
    font-size: 18px;
    border-radius: 30px;
    box-shadow: 0 0 12px rgba(255, 0, 162, 0.8);
    cursor: pointer;
    animation: pulse 1.4s infinite;
    z-index: 1000;
}

@keyframes pulse {
    0% { transform: translateX(-50%) scale(1); }
    50% { transform: translateX(-50%) scale(1.1); }
    100% { transform: translateX(-50%) scale(1); }
}

